<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>修改个人信息</title>

    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom ../static for this template -->
    <link href="../static/css/dashboard.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
 <!--    <style>
    	body{padding-top:200px;}
    </style> -->
  </head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html">在线商城</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<p class="navbar-text">个人信息</p>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul id ="nav-ul" class="nav navbar-nav navbar-right">
					<li id="login"><a th:href="@{'/go/login'}">请登录</a></li>
					<li id="register"><a th:href="@{'/go/register'}">免费注册</a></li>
					<li id="cart"><a th:href="@{'/go/cart'}">购物车</a></li>
					<li><a th:href="@{'/go/order'}">我的订单</a></li>
					<li><a th:href="@{'/go/editInfo'}">我的信息</a></li>
					<li id="logout" style="display:none"><a th:href="@{'/go/logout'}">退出</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<div class="container">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
				<ul class="nav nav-sidebar">
					<li>
						<a href="order.html">我的订单</a>
					</li>
					<li class="active">
						<a href="editInfo.html">修改个人信息<span class="sr-only">(current)</span></a>
					</li>
				</ul>
			</div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<h3 class="page-header">修改个人信息</h3>

				<div class="form-horizontal">
					<div class="form-group">
						<div class="col-sm-5 col-sm-offset-1">
							<label for="username" >用户名</label>
							<input type="text" class="form-control" id="username" disabled>
							
							<label for="phone">手机号</label>
							<input type="text" class="form-control" id="phone">
							
							<label for="email">邮箱</label>
							<input type="email" class="form-control" id="email">
							
							<!--<label for="question">密码问题</label>
							<input type="text" class="form-control" id="question">
							
							<label for="answer">密码答案</label>
							<input type="text" class="form-control" id="answer">-->
							
							<button id="modify" type="button" class="btn btn-default btn-primary">修改</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
	<script src="../static/js/jquery-1.12.4.min.js"></script>
	<!-- Include ../staticmpiled plugins (below), or include individual files as needed -->
	<script src="../static/js/bootstrap.min.js"></script>
	
	<!-- editInfo../static-->
	<script src="../static/js/editInfo.js"></script>
</body>
</html>