<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>商品管理</title>

    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Simditor -->
    <link rel="stylesheet" type="text/css" href="../static/simditor-2.3.6/styles/simditor.css" />

	<!-- Custom styles for this template -->
    <link href="../static/css/dashboard.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
 <!--    <style>
    	body{padding-top:200px;}
    </style> -->
  </head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html">在线商城</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<p class="navbar-text">后台管理</p>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul id ="nav-ul" class="nav navbar-nav navbar-right">
					<li><p id="username" class="navbar-text" style="display:none;color:blue"></p></li>
					<li id="login"><a th:href="@{'/go/login'}">请登录</a></li>
					<li id="register"><a th:href="@{'/go/register'}">免费注册</a></li>
					<li id="logout" style="display:none"><a th:href="@{'/go/logout'}">退出</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
				<ul class="nav nav-sidebar">
					<li class="active">
						<a href="goods_add.html">商品管理</a>
					</li>
					<li>
						<a href="#">订单管理<span class="sr-only">(current)</span></a>
					</li>
				</ul>
			</div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<h3 class="page-header">添加商品</h3>
				<div class="row">
					<div class="form-horizontal">
						<div class="form-group">
							<label for="name" class="col-md-2 control-label">商品名称</label>
							<div class="col-md-8">
								<input type="text" class="form-control" name="name" id="name" placeholder="请输入商品名称">
							</div>
						</div>
						<div class="form-group">
							<label for="subtitle" class="col-md-2 control-label">商品描述</label>
							<div class="col-md-8">
								<input type="text" class="form-control" name="subtitle" id="subtitle" placeholder="请输入商品描述">
							</div>
						</div>
						<div class="form-group">
							<label for="" class="col-md-2 control-label">所属分类</label>
							<div id="category" class="col-md-10">
								<select id="selectA" class="form-control cate-select col-md-5" onchange="btnChange(this[selectedIndex].value);" style="width:200px">
									<option>选择一级类别</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="price" class="col-md-2 control-label">商品价格</label>
							<div class="col-md-3">
								<div class="input-group">
									<input type="number" class="form-control" id="price" placeholder="价格" name="price" value="">
									<div class="input-group-addon">元</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="stock" class="col-md-2 control-label">商品库存</label>
							<div class="col-md-3">
								<div class="input-group">
									<input type="number" class="form-control" id="stock" name="stock" placeholder="库存" value="">
									<div class="input-group-addon">件</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="inputEmail3" class="col-md-2 control-label">商品图片</label>
							<div class="col-md-8">
								<div class="input-group">
									<input type="file" id="upload_file" name="upload_image" accept="image/gif,image/jpeg,image/jpg,image/png">
									<button type="button" id="btn_upload_file" onclick="uploadImage()">上传图片</button>
								</div>
								<span id="uploadSuccess" style="color:blue;font-size:20px"></span>
							</div>
						</div>
						<div class="form-group">
							<label for="inputEmail3" class="col-md-2 control-label">商品详情</label>
							<div class="col-md-10">
								<textarea id="editor" name="detail" placeholder="请输入文字..." autofocus></textarea>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-offset-2 col-md-10">
								<button type="button" class="btn btn-xl btn-primary" onclick="formSubmit()">提交</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
	<script src="../static/js/jquery-1.12.4.min.js"></script>
	<!-- Include ../staticmpiled plugins (below), or include individual files as needed -->
	<script src="../static/js/bootstrap.min.js"></script>
	<!-- Simditor -->
	<script type="text/javascript" src="../static/simditor-2.3.6/scripts/jquery.min.js"></script>
	<!-- <script type="text/javascript" ../statics/mySim.js"></script> -->
	<script type="text/javascript" src="../static/simditor-2.3.6/scripts/module.js"></script>
	<script type="text/javascript" src="../static/simditor-2.3.6/scripts/hotkeys.js"></script>
	<script type="text/javascript" src="../static/simditor-2.3.6/scripts/uploader.js"></script>
	<script type="text/javascript" src="../static/simditor-2.3.6/scripts/simditor.js"></script>
	<!-- goodsAdd.js -->
	<script type="text/javascript" src="../static/js/goodsAdd.js"></script>
</body>
</html>