<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>二手商城</title>

    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
    	body{
			/* padding-top:70px; */
    		background-color: #eee;
    	}
    </style>
  </head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
					<!-- Indicators -->
					<ol class="carousel-indicators">
						<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
						<li data-target="#carousel-example-generic" data-slide-to="1"></li>
						<li data-target="#carousel-example-generic" data-slide-to="2"></li>
					</ol>

					<!-- Wrapper for slides -->
					<div class="carousel-inner" role="listbox">
						<div class="item active">
							<img src="images/4-1.jpg" alt="">
							<div class="carousel-caption"></div>
						</div>
						<div class="item">
							<img src="images/7-1.jpg" alt="">
							<div class="carousel-caption"></div>
						</div>
						<div class="item">
							<img src="images/6-1.jpg" alt="">
							<div class="carousel-caption"></div>
						</div>
					</div>

					<!-- Controls -->
					<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
		</div>
	</div>
	<nav class="navbar navbar-default">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html">二手商城</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul id ="nav-ul" class="nav navbar-nav navbar-right">
					<li><p id="username" class="navbar-text" style="display:none;color:blue"></p></li>
					<li id="login"><a th:href="@{'/go/login'}">请登录</a></li>
					<li id="register"><a th:href="@{'/go/register'}">免费注册</a></li>
					<li id="cart"><a th:href="@{'/go/cart'}">购物车</a></li>
					<li><a th:href="@{'/go/order'}">我的订单</a></li>
					<li><a th:href="@{'/go/editInfo'}">我的信息</a></li>
					<li id="logout" style="display:none"><a th:href="@{'/go/logout'}">退出</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-3"></div>
			<div class="col-md-6 col-sm-6">
				<div class="input-group">
					<input id="input-search" type="text" class="form-control" placeholder="商品名称">
					<span class="input-group-btn">
						<button id="btn-search" class="btn btn-default" type="button">搜索</button>
					</span>
				</div>
			</div>
			<div class="col-md-3"></div>
		</div>
	</div>
	<div class="container">
		<div class="row" style="padding-top:40px">
			<div class="col-md-3 col-sm-3">
				<div class="list-group">
					<a th:href="@{'/goods_list?scId='+0}" class="list-group-item">家用电器</a>
					<a th:href="@{'/goods_list?scId='+1}" class="list-group-item">手机/运营商/数码</a>
					<a th:href="@{'/goods_list?scId='+2}" class="list-group-item">电脑/办公</a>
					<a th:href="@{'/goods_list?scId='+3}" class="list-group-item">家居/家具/家装/厨具</a>
					<a th:href="@{'/goods_list?scId='+4}" class="list-group-item">男装/女装/童装/内衣</a>
					<a th:href="@{'/goods_list?scId='+5}" class="list-group-item">美妆个护/宠物</a>
					<a th:href="@{'/goods_list?scId='+6}" class="list-group-item">女鞋/箱包/钟表/珠宝</a>
					<a th:href="@{'/goods_list?scId='+7}" class="list-group-item">男鞋/运动/户外</a>
					<a th:href="@{'/goods_list?scId='+8}" class="list-group-item">汽车/汽车用品</a>
					<a th:href="@{'/goods_list?scId='+9}" class="list-group-item">母婴/玩具乐器</a>
					<a th:href="@{'/goods_list?scId='+10}"  class="list-group-item">食品/酒类/生鲜/特产</a>
					<a th:href="@{'/goods_list?scId='+11}"  class="list-group-item">礼品鲜花/农资绿植</a>
					<a th:href="@{'/goods_list?scId='+12}"  class="list-group-item">图书/音像/电子书</a>
				</div>
			</div>
	
			<div class="col-md-9">
				<h2>二手交易</h2>
				<div class="row">
					<div class="col-md-4 col-sm-4">
						<div class="thumbnail">
							<img src="../static/images/14.jpg" alt="...">
							<div class="caption">
								<h3>松下 教育电视机</h3>
								<p>
									<a th:href="@{'/good/goods_detail?goodsId='+208}" class="btn btn-primary" role="button">查看</a>
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="thumbnail">
							<img src="../static/images/3.jpg" alt="...">
							<div class="caption">
								<h3>苹果笔记本</h3>
								<p>
									<a th:href="@{'/good/goods_detail?goodsId='+207}" class="btn btn-primary" role="button">查看</a>
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="thumbnail">
							<img src="../static/images/13.jpg" alt="...">
							<div class="caption">
								<h3>iBrush智能牙刷</h3>
								<p>
									<a th:href="@{'/good/goods_detail?goodsId='+205}" class="btn btn-primary" role="button">查看</a>
								</p>
							</div>
						</div>
					</div>
					<!--<div class="col-md-4 col-sm-4">
						<div class="thumbnail">
							<img src="../static/images/12.jpg" alt="...">
							<div class="caption">
								<h3>2017女装秋季新品</h3>
								<p>
									<a href="goods_list.html?scId=4" class="btn btn-primary" role="button">查看</a>
								</p>
							</div>
						</div>
					</div>-->
				</div>
			</div>
		</div>
	</div>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
	<script src="../static/js/jquery-1.12.4.min.js"></script>
	<!-- Include ../staticall compiled plugins (below), or include individual files as needed -->
	<script src="../static/js/bootstrap.min.js"></script>

	<!-- loginChe../staticck.js -->
	<script src="../static/js/loginCheck.js"></script>
	<!-- index.js../static -->
	<script src="../static/js/index.js"></script>
</body>
</html>